.container-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15rem;
  background-color: #000000;
}

.container-icons .list {
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

.container-icons .list a {
  margin-right: 1rem; /* Ajusta el margen a tu preferencia */
}

.container-icons .list i {
  font-size: 1.5rem; /* Ajusta el tamaño de fuente a tu preferencia */
  color: #ffffff; /* Cambia el color a blanco */
  transition: filter 0.3s ease; /* Agrega una transición suave */
}

.container-icons .list i:hover {
  filter: brightness(1.2) drop-shadow(0 0 4px silver); /* Aplica un filtro de brillo y saturación */
}

.container-icons .list .separator {
  height: 2rem;
  width: 1px;
  border-right: 1px solid #ffffff; /* Agrega una barra horizontal a la derecha */
  margin-right: 1rem;
}


.social-kids {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 2.5rem;
  height: 1rem;
  color: #000000;
  background-color: #ffffff;
  border-radius: 40px;
  transition: filter 0.3s ease;
}

.social-kids:hover {
  filter: brightness(1.2) drop-shadow(0 0 4px silver);
}

.social-kids p {
  margin-top: 1rem;
  margin-left: 0rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #000000;
}

.container-links h4{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.container-list-links{
  margin-left: 6rem;
  margin-right: 4rem;
}

.list-links {
  list-style: none;
  justify-content: center; 
  display: flex; 
  align-items: center;
  flex-wrap: wrap; 
}

.list-links .separator {
  height: 1rem;
  width: 0.5px;
  border-right: 1px solid #ffffff; /* Agrega una barra horizontal a la derecha */
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.list-links li {
  margin-right: 1rem; 
}

.list-links a {
  font-size: 0.7rem;
  color: #ffffff;
  transition: filter 0.3s ease;
}

.list-links a:hover {
  filter: brightness(1.2) drop-shadow(0 0 4px silver);
}


